<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<header class="col-md-8">
    <h2>Create Receptionist</h2>
    <p><a href="/receptionists" class="btn btn-outline-primary">Back to List</a></p>
    <th:block th:if="${message}">
        <p th:text="${message}" style="color: red"></p>
    </th:block>
</header>
<form th:action="@{/create-receptionist}"
      th:object="${receptionistForm}"
      method="post"
      enctype="multipart/form-data" class="col-md-6">
    <table class="table table-striped">
        <tr>
            <td>Avatar</td>
            <td><input type="file" th:field="*{avatar}" class="btn btn-outline-warning"></td>
        </tr>
        <tr>
            <td>ID</td>
            <td><input type="text" th:field="*{id}" class="form-control"></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}" class="form-control"></td>
        </tr>
        <tr>
            <td>Age</td>
            <td><input type="text" th:field="*{age}" class="form-control"></td>
        </tr>
        <tr>
            <td>Address</td>
            <td><input type="text" th:field="*{address}" class="form-control"></td>
        </tr>
        <tr>
            <td>Hobby</td>
            <td><input type="text" th:field="*{hobby}" class="form-control"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create" class="btn btn-outline-success"></td>
        </tr>

    </table>
</form>
</body>
</html>

