<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reception List</title>
</head>
<body>
<fieldset>
    <legend>Reception List</legend>
    <p>
        <a href="/create-receptionist">Create New Receptionist</a>
    </p>
    <h1>Reception List</h1>
    <form>
        Search by name:
        <input type="text" name="search">
        <input type="submit" value="Search">
    </form>
    <br>
    <table border="1">
        <tr>
            <td>Name</td>
            <td>Age</td>
            <td>Address</td>
            <td>Hobby</td>
            <td>Avatar</td>
            <td>Edit</td>
            <td>Delete</td>
            <td>View</td>
        </tr>
        <th:block th:each="receptionist:${receptionists}">
            <tr>
                <td th:text="${receptionist.name}"></td>
                <td th:text="${receptionist.age}"></td>
                <td th:text="${receptionist.address}"></td>
                <td th:text="${receptionist.hobby}"></td>
                <td width="200px"><img width="100%" th:src="@{'/image/'+${receptionist.avatar}}"></td>
                <td><a th:href="@{/edit-receptionist/__${receptionist.id}__}">Edit</a></td>
                <td><a th:href="@{/delete-receptionist/__${receptionist.id}__}">Delete</a></td>
                <td><a th:href="@{/view-receptionist/__${receptionist.id}__}">View</a></td>
            </tr>
        </th:block>
    </table>
</fieldset>
</body>
</html>